* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
ul li a {
  text-decoration: none;
}

body {
  font-family: montserrat;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

nav {
  height: 50px;
  width: 100%;
  background-color: #f5f5f5;
}

.logo {
  height: 60px;
  padding: 0 100px;
}

nav ul {
  float: right;
  margin-right: 300px;
}
nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 50px;
}

nav a {
  color: black;
  font-size: 18px;
}

#icon {
  font-size: 30px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1048px) {
  .logo {
    font-size: 32px;
    padding-left: 60px;
  }

  nav ul {
    margin-right: 20px;
  }
  nav a {
    font-size: 17px;
  }
}
@media (max-width: 702px) {
  #icon {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    background: #f5f5f5;
    left: -100%;
    text-align: center;
  }
  nav li {
    display: block;
  }
  nav ul.show {
    left: 0;
  }
}
.banner-wrapper {
  background: rgba(0, 0, 0, 0.7) url("images/banner_picture.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  margin-top: 200px;

  color: white;
}

.banner p {
  margin-left: 50px;
}
.half-width {
  float: left;
  padding: 5px;
}
form {
  position: relative;
  margin: 0;
  padding: 2px;
  height: 50px;
  max-width: 90%;
  background: #f2f2f2;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  margin-left: 240px;
}
form input {
  margin: 0 5px 0 0;
  padding: 5px;
  font-weight: 230;
  max-width: 90%;
  background: unset;
  outline: none;
  border: none;
}
form button {
  margin: 0;
  padding: 9px 16px;
  color: white;
  background: purple;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 2px;
}
/* @media screen and (max-width: 500px) {
  form button {
    margin-left: 200px;
    margin-bottom: -100px;
  }
} */

#box {
  position: relative;
  margin: 0;
  height: 50px;
  max-width: 90%;
  border-radius: 10px;
  background: #f2f2f2;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 200px;
}
.icon {
  width: 70px;
  height: 400px;
}

.background-area {
  border: 1px solid purple;
  width: 80%;
  height: 100px;
  background-color: purple;
  margin-left: 70px;
  margin-top: 30px;
}

.background-area h4 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.background-area p {
  color: white;
  text-align: center;
}

.choose-section {
  margin-top: 40px;
}

.choose-section h3 {
  text-align: center;
}
#icon_design {
  font-size: 50px;
  margin-left: 70px;
}

div h4 {
  text-align: center;
  text-align: justify;
}

.box-design {
  border: 1px solid purple;
  width: 700px;
  height: 85px;
  margin-right: 60px;
  border-radius: 10px;
  text-align: center;
}

.box-section {
  margin-top: 20px;
}
.highlight {
  color: purple;
}

.box-design-number {
  border: 1px solid purple;
  border-radius: 80px;
  width: 40px;
  height: 40px;
}

div h3 {
  margin-left: 140px;
}

.design_button {
  background-color: purple;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  border: 1px solid purple;
}

.button_design_1 {
  padding: 10px 60px;
  border-radius: 10px;
  color: white;
  border: 1px solid purple;
}

.help_section {
  margin-top: 20px;
  text-align: center;
}

.button_section1 {
  float: left;
  margin-left: 550px;
  margin-top: 20px;
  padding: 10px;
}

.carousel_design {
  margin-top: 50px;
}
